<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="GoogleCaptchaPublicKey" value="6Lfik1cUAAAAAO3osc-yX6ZfZhckPm_4GIAKGdkh" />
      <setting name="GoogleCaptchaPrivateKey" value="6Lfik1cUAAAAAInwnC6-jlgbcGeZGp701AOXaSHL" />
    
      <setting name="MailServer" value="localhost" />
      <setting name="MailServerPort" value="5000" />
    </settings>
    <exm>
      <eds>
        <smtpSettings type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>192.168.1.73</server>
          <port>25</port>
          <userName />
          <password />
          <authenticationMethod>None</authenticationMethod>
          <startTls>false</startTls>
          <proxySettings ref="exm/eds/proxySettings"/>
        </smtpSettings>
      </eds>
    </exm>
  </sitecore>
</configuration>