<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0" targetFramework="net471" />
  <package id="Kamsar.WebConsole" version="2.0.1" targetFramework="net471" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net471" />
  <package id="Rainbow" version="2.1.1" targetFramework="net471" />
  <package id="Rainbow.Core" version="2.1.1" targetFramework="net471" />
  <package id="Rainbow.Storage.Sc" version="2.1.1" targetFramework="net471" />
  <package id="Rainbow.Storage.Yaml" version="2.1.1" targetFramework="net471" />
  <package id="Unicorn" version="4.1.1" targetFramework="net471" />
  <package id="Unicorn.Core" version="4.1.1" targetFramework="net471" />
</packages>