certificates/
packages/
target/
.vs/
src/Feature/FormsExtensions/code/obj/
src/Feature/FormsExtensions/code/bin/
docs/build/
deployment/Environments/Local/environmentsettings.json
deployment/Environments/Local/license.xml
deployment/SIF-SingleDeveloper/
docs/9.3/build/
docs/overview/build/
**/bin/
**/obj/
*.user
.env
*.nupkg
