<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <settings role:require="Standalone or ContentManagement">
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="150" />
      <setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" value="50" />

      <setting name="Unicorn.DevMode" value="false" env:require="!Local" />
    </settings>
  </sitecore>
</configuration>