<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.XConnect.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Cd.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Cm.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExM.Framework.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceForms.Mvc.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceForms.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.Analytics.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Services.Infrastructure.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.Configuration.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="8.7.0" targetFramework="net462" />
</packages>