<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>../../../../docker/deploy/website</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <ExcludeFilesFromDeployment>**\bin\**\Sitecore*;

      **\bin\**\System.Data*;
      **\bin\**\System.Diagnostics*;
      **\bin\**\System.Globalization*;
      **\bin\**\System.IO*;
      **\bin\**\System.Web*;
      **\bin\**\System.Soecial*;
      **\bin\**\System.Security*;
      **\bin\**\System.Runtime*;
      **\bin\**\System.Threading*;
      **\bin\**\System.Xml*;
      **\bin\**\System.Spatial*;
      **\bin\**\System.Net.Http.Formatting*;
      **\bin\**\System.Net.Sockets*;

      **\bin\**\Newtonsoft*;

      **\bin\**\Microsoft.Extensions*;
      **\bin\**\Microsoft.Web*;
      **\bin\**\Microsoft.Data*;
      **\bin\**\Microsoft.Azure*;

      **\bin\de\*;
      **\bin\es\*;
      **\bin\fr\*;
      **\bin\it\*;
      **\bin\ja\*;
      **\bin\ko\*;
      **\bin\ru\*;
      **\bin\zh-*\*;</ExcludeFilesFromDeployment>
  </PropertyGroup>
</Project>