<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.FormsExtensionsTester" dependencies="Foundation.Serialization" extends="Helix.Project" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            <include name="Content" database="master" path="/sitecore/content/Home" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>