<!--
    ********************************************************************
    Unicorn Helix configurations
   
    Defines standard configurations for modules in all layers
    ********************************************************************
   
    See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore role:require="Standalone or ContentManagement">
    <sc.variable name="sourceFolder" value="$(env:ITEM_SYNC_LOCATION)" />    
    <unicorn>     
      <configurations>
        <configuration name="Helix.Base" abstract="true">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
        </configuration>
        <configuration name="Helix.Feature" extends="Helix.Base" abstract="true" />
        <configuration name="Helix.Foundation" extends="Helix.Base" abstract="true">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Media" database="master" path="/sitecore/media library/Solution/$(layer)/$(module)" />
          </predicate>
        </configuration>
        <configuration name="Helix.Project" extends="Helix.Base" abstract="true">
          <predicate>            
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/$(layer)/$(module)" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>