@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
  Layout =  "DefaultOuterLayout.cshtml";
}

<h1>@Html.Sitecore().Field("title")</h1>
<div>
  @Html.Sitecore().Placeholder("sfe-main")
</div>