@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
  Layout =  "DefaultOuterLayout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>@Html.Sitecore().Field("title")</h1>
      <div>
        @Html.Sitecore().Placeholder("sfe-main")
      </div>
    </div>
  </div>
</div>