<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.FormsExtensions" dependencies="Foundation.Serialization" extends="Helix.Feature" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            
            <include name="SCFormsTemplates" database="master" path="/sitecore/templates/System/Forms" />
            <include name="Dictionary" database="master" path="/sitecore/system/Dictionary/$(module)" />
            <include name="Templates" database="master" path="/sitecore/templates/Modules/$(module)" />
            <include name="CustomActions" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions">
              <exclude children="true">
                <except name="IdentifyContact"/>
                <except name="SendEmailExtended"/>
                <except name="ShowFormPage"/>
              </exclude>
            </include>
            <include name="PropertyGridForm" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm" />            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>