<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <SendEmail role:require="Standalone or ContentManagement or DedicatedDispatch">
        <processor patch:before="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm']"
                   type="Feature.FormsExtensions.Pipelines.SendEmail.FormDataProcessor, Feature.FormsExtensions" />
        <processor patch:before="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.SendEmail, Sitecore.EmailCampaign.Cm']"
                   type="Feature.FormsExtensions.Pipelines.SendEmail.AttachExternalFileProcessor, Feature.FormsExtensions" resolve="true" />
      </SendEmail>

      <forms.renderForm>
        <processor patch:before="*[1]" type="Feature.FormsExtensions.Pipelines.ShowFormPage.ShowFormPageNavigationLoader, Feature.FormsExtensions" resolve="true" />
        <processor patch:before="*[1]" type="Feature.FormsExtensions.Pipelines.ShowFormPage.ValueProviderConditionsChecker, Feature.FormsExtensions" resolve="true" />
      </forms.renderForm>

      <forms.renderField>
        <processor patch:after="*[1]" type="Feature.FormsExtensions.Pipelines.RenderField.ReplaceFieldBindingToken, Feature.FormsExtensions" resolve="true" />
      </forms.renderField>
      
      <forms.executeSubmit>
        <processor patch:before="*[1]"
                   type="Feature.FormsExtensions.Pipelines.ExecuteSubmit.RecaptchaExecutedValidation, Feature.FormsExtensions" resolve="true" />
        <processor patch:before="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.GetSubmitActions, Sitecore.ExperienceForms.Mvc']" 
                   type="Feature.FormsExtensions.Pipelines.ExecuteSubmit.StoreFileUploads, Feature.FormsExtensions" resolve="true" />
        <processor patch:after="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc']"
                   type="Feature.FormsExtensions.Pipelines.ExecuteSubmit.StoreFieldBindingValues, Feature.FormsExtensions" resolve="true" />
      </forms.executeSubmit>

      <forms.loadFieldBindingHandlers>
        <processor type="Feature.FormsExtensions.Pipelines.LoadFieldBindingHandlers.XDbFieldBindingHandlerLoader, Feature.FormsExtensions" resolve="true" />
      </forms.loadFieldBindingHandlers>
    </pipelines>
  </sitecore>
</configuration>