<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch">
    <settings>
      <setting name="GoogleCaptchaPublicKey" value="" />
      <setting name="GoogleCaptchaPrivateKey" value="" />
    </settings>
  </sitecore>
</configuration>