<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <SendEmail role:require="Standalone or ContentManagement or DedicatedDispatch">
        <processor patch:before="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm']"
                   type="Feature.FormsExtensions.Pipelines.SendEmail.FormDataProcessor, Feature.FormsExtensions" />
      </SendEmail>

      <forms.renderField>
        <processor patch:after="*[1]" type="Feature.FormsExtensions.Pipelines.RenderField.ReplacePrefillToken, Feature.FormsExtensions" resolve="true" />
      </forms.renderField>
      
      <forms.executeSubmit>
        <processor patch:before="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.GetSubmitActions, Sitecore.ExperienceForms.Mvc']" 
                   type="Feature.FormsExtensions.Pipelines.ExecuteSubmit.StoreFileUploads, Feature.FormsExtensions" resolve="true" />
      </forms.executeSubmit>

      <forms.loadPrefillTokenHandlers>
        <processor type="Feature.FormsExtensions.Pipelines.LoadPrefillTokenHandlers.XDbTokenHandlerLoader, Feature.FormsExtensions" resolve="true" />
      </forms.loadPrefillTokenHandlers>
    </pipelines>
  </sitecore>
</configuration>