<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch">
    <pipelines>
      <SendEmail>
        <processor patch:before="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm']"
                   type="Feature.FormsExtensions.Exm.Pipelines.FormDataProcessor, Feature.FormsExtensions" />
      </SendEmail>
    </pipelines>
  </sitecore>
</configuration>