<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>

    <formExtensions>
      <!--
      Pick one of these fileUploadStorageProviders for upload to work
      
      <fileUploadStorageProvider type="Feature.FormsExtensions.Business.FileUpload.FileSystemFileUploadStorageProvider, Feature.FormsExtensions">
        <rootStoragePath>c:\temp\</rootStoragePath>
        <fileDownloadUrlBase>https://myfile.com/{0}</fileDownloadUrlBase>
      </fileUploadStorageProvider>
      
      <fileUploadStorageProvider type="Feature.FormsExtensions.Business.FileUpload.AzureBlobStorageFileUploadStorageProvider, Feature.FormsExtensions">
        <connectionString></connectionString>
        <blobContainer></blobContainer>
        <folder></folder>
      </fileUploadStorageProvider>
      -->

      <fileUploadStorageProvider type="Feature.FormsExtensions.Business.FileUpload.MediaLibraryFileUploadStorageProvider, Feature.FormsExtensions">
        <defaultRootStoragePath>/sitecore/media library/Files</defaultRootStoragePath>
        <eventQueueDatabase>core</eventQueueDatabase>
        <versioned>false</versioned>
        <overwrite>false</overwrite>
        <!-- Upload Destination: Database (default) | File -->
        <uploadDestination>Database</uploadDestination>
      </fileUploadStorageProvider>

    </formExtensions>

    <pipelines>
      <initialize>
        <processor type="Feature.FormsExtensions.Business.FileUpload.MediaItemSyncEventHandler, Feature.FormsExtensions"
                   method="SubscribeToRemoteEvent"
                   role:require="ContentManagement or Standalone">
          <TargetDatabase>master</TargetDatabase>
        </processor>
      </initialize>
    </pipelines>


    <events>
      <event name="item:mediafileuploaded" role:require="ContentManagement or Standalone">
        <handler type="Feature.FormsExtensions.Business.FileUpload.MediaItemSyncEventHandler, Feature.FormsExtensions" method="OnFileUploaded" >
          <TargetDatabase>master</TargetDatabase>
        </handler>
      </event>
    </events>

  </sitecore>
</configuration>